
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@mdi/font/scss/materialdesignicons";

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap4-card-tables/src/bootstrap4-card-tables";

@import "~simplemde/dist/simplemde.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
